.link{
    text-decoration: none;
    color: inherit;
}

@media(max-width: 1000px){
    .bigBox{
        width: 240%;
    }
}

@media(max-width: 768px){
    .bigBox{
        width: 275%;
        padding: 10px;
    }

    .badges{
        font-size: .8rem;
    }
}

@media(max-width: 550px){
    .bigBox{
        width: 330%;
        padding: 0 5px;
    }
    ::-webkit-scrollbar{
        display: none;
    }
}

@media(max-width: 400px){
    .bigBox{
        width: 550%;
    }
}