.primium{
    background: #000;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    padding: 20px 0;
}

.priBox .container{
    overflow: hidden;
    background: url('https://d1l07mcd18xic4.cloudfront.net/static/background_hero_v2.png') no-repeat 0 0;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    position: relative;
}

.slider-big{
    display: flex;
    align-items: center;
    width: 500%;
    gap: 20px;
    padding: 0 40px;
    transition: .3s;
    height: 300px;
}

.priBox .slider-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.priBox .slider-box span{
    font-size: 1.7rem;
    font-weight: 550;
    text-transform: capitalize;
}

.indicators{
    display: flex;
    position: absolute;
    bottom: 30px;
    justify-content: space-around;
    width: 100%;
}

.indicators .indicator-box{
    display: flex;flex-direction: column;
    align-items: center;
    opacity: .6;
    gap: 8px;
    text-align: center;
    font-size: .6rem;
}

.indicator-box.indicate{
    opacity: 1;
}

.primium .priBox{
    width: 50%;
}

.priBox .top{
    display: flex;
    align-items: center;
    gap: 20px;
}

.priBox .top h4{
    font-size: 1.1rem;
}

.priBox .top .left,
.priBox .top .right{
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47%;
    justify-content: center;
    cursor: pointer;
}

.priBox .top span{
    font-size: .8rem;
    color: #999;
}

.priBox .top h3{
    font-size: 1.5rem;
    margin-top: 10px;
}

.priBox .active{
    background: #fff;
    color: #000;
}

.priBox .active h3{
    color: tomato;
}

.cupon{
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.cupon header{
    border-radius: 5px 5px 0 0;
    background: #222;
    padding:10px;
    font-weight: 500;
    opacity: .9;
}

.cupon .row{
    border-radius:0  0 5px 5px;
    display: flex;
    align-items: center;
    background: #333;
    gap: 10px;
    padding: 10px;
}

.cupon .tags{
    background: #444;
    border-radius: 5px;
    padding: 8px;
    font-size: .8rem;
}

.cupon .tags span{
    color: orange;
}

.heading{
    font-size: 1.3rem;
}

.priBox .sliderBox{
    overflow-x: scroll;
    margin: 20px 0;
}

.priBox .slider{
    width: 400%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.priBox .slider .image{
    width: 20%;
}

.priBox .slider img{
    width: 100%;
}

.priBox .top2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priBox .top2 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.priBox .info-box{
    background: #333;
    border-radius: 5px;
    padding: 10px;
}

.priBox .top2 h5{
    font-size: 1.1rem;
}

.slider:last-child{
    width: 480%;
}

.priBox .top2 span,
.priBox .info-box p{
    font-size: .9rem;
    color: #999;
}

.priBox .info-box p{
    margin-top: 15px;
}

.priBox .dropdown{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 20px;
}

.dropdown .line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.dropdown span{
    font-size: 1.1rem;
}

.dropdown .content{
    padding:0 10px 10px 10px;
    font-size: .9rem;
    color: #999;
    display: none;
}

.dropdown .content.show{
    display: block;
}

.priBox .view{
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    margin: 20px 0;
    background: none;
    color: #fff;
}

.priBox .last{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.priBox .last p{
    font-size: .9rem;
}

.priBox .last p span{
    color: tomato;
    text-decoration: underline;
}

.priBox .last h2{
    margin-top: 20px;
    font-size: 1.3rem;
}

.priBox .last h4{
    font-size: .9rem;
    margin-top: 5px;
    color: #999;
    display: flex;
    align-items: center;
    gap: 5px;
}

.priBox .last .end{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
    width: 100%;
    justify-content: center;
}

.priBox .last .left,
.priBox .last .right{
    background: #333;
    padding: 10px;
    width: 120px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 5px;
}

.priBox .end{
    display: flex;
    justify-content: center;
    width: 100%;
}

.priBox .end p{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 550;
    cursor: pointer;
}

.offer{
    position: sticky;
    bottom: 0;
    background: linear-gradient(transparent, #111);
    padding-bottom: 15px;
    z-index: 99;
}

.offername{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, tomato,rgb(235, 67, 38));
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.offer h3{
    display: flex;
    align-items: center;
    gap: 5px;
}

.offer h3 span{
    margin-bottom: 10px;
}

.offer .buy{
    cursor: pointer;
}

@media(max-width: 1000px){
    .primium .priBox{
        width: 70%;
    }
}

@media(max-width: 768px){
    .primium .priBox{
        width: 90%;
    }
}

@media(max-width: 568px){
    .priBox .slider{
        width: 650%;
    }
    .slider-big{
        padding: 0;
    }
    .slider-box img{
        width: 180px;
        height: 180px;
    }
}

@media(max-width: 468px){
    .priBox .slider{
        width: 800%;
    }
    .slider-big{
        width: 550%;
        gap: 0;
    }
    .slider-box img{
        width: 100px;
        height: 100px;
    }
    .indicator-box{
        font-size: .1rem;
    }
}

@media(max-width: 350px){
    .priBox .slider{
        width: 900%;
    }
}